@charset "UTF-8";
/* CSS Document */
.carousel-item img {
	height: 450px;
	max-width: 100%;
	min-width: 100%;
	object-fit: cover;
	overflow: hidden;
}

.card {
	cursor: pointer;
}

.logo {
    height: 30px;
   
}

.jumbotron-bg {
    /* background-image: url("../images/jumbo.jpg"); */
    background-size: cover;
    background-position: center top;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: black;
}

.overlay-box:hover .overlay {
	opacity: .5;
}

.overlay-text {
	position: absolute;
	text-align: center;
	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
